.offers {
    background-color: rgba(0, 0, 0, 0.4);
    height: 80vh;
    overflow-x: hidden;
    margin-bottom: 120px;
}

.offers .row {
    align-items: center;
    height: 80vh;
}

.product {
    margin: 15px auto;
    box-shadow: none;
}

@media only screen and (max-width: 990px) {
    .product {
        margin: 0 auto;
        height: 350px;
        width: 250px;
    }
}