.category {
    width: 363px;
    height: 414px;
}

.category img {
    height: 161px;
}

.category h3 {
    transform: translateY(-100px);
    opacity: 0;
    transition: .5s;
}

.category:hover h3,
.subCategory:hover h3 {
    transform: translateY(-50px);
    opacity: 1;
}

.category a {
    padding: 0;
    margin-top: 0;
    background-color: transparent;
    border-radius: none;
    color: black;
    box-shadow: none;
    opacity: 1;
    transition: none
}

.vagas {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 400px) {
    .category {
        height: 324px;
    }
    .category img {
        height: 162px;
    }
}